USE [master]
GO
/****** Object:  Database [ITsanasto]    Script Date: 6.3.2024 23.13.08 ******/
CREATE DATABASE [ITsanasto]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ITsanasto', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\ITsanasto.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ITsanasto_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\ITsanasto_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ITsanasto].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ITsanasto]
GO
/****** Object:  Table [dbo].[Sanakirja]    Script Date: 6.3.2024 23.13.08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sanakirja](
	[Englanti] [nvarchar](50) NOT NULL,
	[Suomi] [nvarchar](50) NOT NULL,
	[Selitys] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Sanakirja] ([Englanti], [Suomi], [Selitys]) VALUES (N'variable', N'muuttuja', N'Ohjelmointikielissä keskusmuistiin tilapäisesti tallennettava tieto')
INSERT [dbo].[Sanakirja] ([Englanti], [Suomi], [Selitys]) VALUES (N'data type', N'tietotyyppi', N'Määrittelee muuttujan tarvitseman tilan keskusmuistissa')
INSERT [dbo].[Sanakirja] ([Englanti], [Suomi], [Selitys]) VALUES (N'simple datatype', N'yksinkertainen tietotyyppi', N'Muuttujaan voi tallentaa vain yhden tiedon kerrallaan')
GO
USE [master]
GO
